<link rel="import" href="../../bower_components/polymer/polymer.html">
<link rel="import" href="../../bower_components/core-ajax/core-ajax.html">
<polymer-element name="post-service" attributes="posts">
  <template>
  <link rel="stylesheet" type="text/css" href="post-service.css">
    <core-ajax id="ajax"
      auto
      url="../../json/generated.json"
      on-core-response="{{postsLoaded}}"
      handleAs="json">
    </core-ajax>
  </template>
  <script src="post-service.js"></script>
</polymer-element>
